body {
    background-image: url(https://images.unsplash.com/photo-1599458252573-56ae36120de1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   background-size: cover;
   background-position: center;
   height: 100vh;
   margin: 0;
   font-family: 'Montserrat', sans-serif;
}

.container {
   position: relative;
   z-index: 1;
}

.login-box {
   background-color: rgba(0, 0, 0, 0.7);
   padding: 20px;
   border-radius: 10px;
   max-width: 400px;
   width: 100%;
   color: white;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-box h2 {
   margin-bottom: 20px;
}

.login-box .form-control {
   background-color: rgba(255, 255, 255, 0.8);
   border: none;
   margin-bottom: 10px;
}

.login-box .btn-primary {
   background-color: #4CAF50;
   border: none;
}

.login-box .btn-primary:hover {
   background-color: #45a049;
}

.login-box a {
   color: #C78C19;
   text-decoration: none;
}

.login-box a:hover {
   text-decoration: underline;
}