.body-4-reserva {
    background-image: url('https://images.unsplash.com/photo-1517248135467-4c7edcad34c4');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container-4-reserva {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.h2-4-reserva, .p-4-reserva {
    margin-bottom: 20px;
}

.btn-4-reserva {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn-4-reserva:hover {
    background-color: #45a049;
}