body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1550966871-3ed3cdb5ed0c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHJlc3RhdXJhbnR8ZW58MHx8MHx8fDA%3D');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: auto;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #343a40;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-control-file {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between; /* Distribui os itens horizontalmente com espaçamento entre eles */
}

.menu-item {
    width: calc(33.33% - 20px); /* Faz cada item ocupar 1/3 da largura da página, com espaço entre eles */
    padding: 10px;
    border: 2px solid #343a40;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-bottom: 20px; /* Espaço entre os itens */
    box-sizing: border-box; /* Garante que o padding e a borda sejam considerados no cálculo do tamanho */
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.item-info {
    text-align: center;
}

.btn-remove {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.btn-remove:hover {
    background-color: #c82333;
}

@media (max-width: 768px) {
    .menu-item {
        width: calc(50% - 20px); /* Faz cada item ocupar metade da largura da página em telas menores */
    }
}

@media (max-width: 576px) {
    .menu-item {
        width: 100%; /* Faz cada item ocupar toda a largura da página em telas muito pequenas */
    }
}